<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :beaconUUID %><br>
    <%= f.text_field :beaconUUID %>
  </div>
  <div class="field">
    <%= f.label :placeName %><br>
    <%= f.text_field :placeName %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :pictureFile, "画像" %><br>
    <%= f.file_field :pictureFile%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
